@model IEnumerable<MVCBLOG.Models.Post>
@{
    ViewBag.Title = "Posts Page";
}

<ul class="posts">
    @foreach (var post in Model)
    {
    <li>
        <div class="details">
            <span class="title">@post.Title</span><br />
            <span class="body">@post.Body</span><br />
        </div>
        <div class="date">
            <div class="timethemeuser">
                <span class="theme">@post.Theme.Name</span><br />
                <span class="time">@post.CreatedOn.ToString("HH:mm:ss") @post.CreatedOn.ToString("d MMM") @post.CreatedOn.ToString("yyyy")</span><br />
                <span class="user">Posted by  @post.CreatedByUser.Name</span>
            </div>
           
           
        </div>
       
    </li>
    <br />
    }
</ul>